<!-- app/views/reservations/new.html.erb -->
<h1>Make a Reservation</h1>

<%= form_with model: @reservation, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, required: true %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Book Now" %>
  </div>
<% end %>
